// signup button

@signup-text-click: #ec8c85;
@signup-text-free:  #FFFFFF;
@signup-box-inner:  #a02124;
@signup-box-outer:  #c93a2a;

// tagline

@tagline-color:	#666666;

// tiles

@tile-font-color: #FFFFFF;
@tile-whatisanytv: #7fba00;
@tile-howdoesitwork: #3abad8;
@tile-howdoigetpaid: #e27023;
@tile-youtubepartner: #2c7dc6;
@tile-generatelink: #e0c246;
@tile-videodashboard: #e27023;
@tile-paidgrowwithus: #3abad8;