@import "colors";
@import "lesshat.less";



// Fix float clearers. Somehow, this one broke on the CSS
.metrouicss .grid .row:before, 
.metrouicss .grid .row:after {
  content: "";
}

// Hi-jacking metro, adding (modifications later) centered text!
.metrouicss .tile{
  &.vertical-centered-text{
    > * {
      position: absolute;
      display: table;
      width: 100%;
      height: 100%;
      .box-sizing(border-box);

      > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 10px;

      }
    }
  }
}

body {
  font-family: "open_sansregular", Arial, sans-serif;
  // Full-screen, non-resizable background
  background: url('/images/anytv-background.png') no-repeat center center fixed; 
  .background-size(cover);
  // Pad the top so that the content does not get covered by the nav
  padding-top: 50px;
}

#anytv{

  // Top Navigation
  #anytv-topnav{
    position: fixed;
    background-color: #EEE;

    * {
      color: #333;
    }
    .menu {
      float: right;
    }
    .nav-bar-inner{
      max-width: 960px;
      margin: 0 auto;
    }
    .anytv-icon{
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align:bottom;

      &.anytv-icon-a{background: url("/images/anyTV.png") no-repeat 0% 50%;}
      &.anytv-icon-earth{background: url("/images/anyTV.png") no-repeat 0% 50%;}
      &.anytv-icon-commu{background: url("/images/communityTM.png") no-repeat 0% 50%;}
      &.anytv-icon-dash{background: url("/images/dashboardTM.png") no-repeat 0% 50%;}
      &.anytv-icon-mmo{background: url("/images/mmoTM.png") no-repeat 0% 50%;}
    }
  }

  // Contents
  #anytv-content{

    // MetroUI CSS lied. Spans aren't percentage. They're based on a 960px grid.
    max-width: 960px;
    margin: 0 auto;
    padding-top:75px;

    #signup{

      a {
        height: 100px;
        background-color: @signup-box-inner;
        text-align: center;
        .box-shadow(~"inset 0 0 30px 10px @{signup-box-outer}");
        .transition(~"box-shadow 0.4s");

        &:hover{
          text-decoration: none;
          .box-shadow(~"inset 0 0 10px @{signup-box-outer}");
        }
        span {
          font-size: 2em;
          line-height: 1.2em;
          display: block;
        }
        .signup-click{
          color: @signup-text-click;
        }
        .signup-free{
          color: @signup-text-free;
        }
      }
    }

    #tagline{
      text-align: center;
    }

    #anytv-start {
      .vertical-centered-text {
        p {
          font-size: 1.5em;
          line-height: 1.2em;
          font-weight: normal;
        }

        img {
          vertical-align: middle;
        }

        #whatisanytv {
          background-color: @tile-whatisanytv;
          text-decoration: none;
          color: #ffffff;
        }

        #howdoesitwork {
          background-color: @tile-howdoesitwork;
          text-decoration: none;
          color: #ffffff;
        }

        #howdoigetpaid {
          background-color: @tile-howdoigetpaid;
          text-decoration: none;
          color: #ffffff;
        }

        #globe {
          background: url("/images/globe.png") no-repeat center center;
          background-size: 110%;
          text-decoration: none;
          color: #ffffff;
        }

        #youtubepartner {
          background-color: @tile-youtubepartner;
          text-decoration: none;
          color: #ffffff;
        }

        #generatelink {
          background-color: @tile-generatelink;
          text-decoration: none;
          color: #ffffff;
        }

        #gift {
          background: url("/images/gift.png") no-repeat center center;
          background-size: 110%;
          text-decoration: none;
          color: #ffffff;
        }

        #visitusonyoutube {
          background: url("/images/visitusonyoutube.png") no-repeat center center;
          background-size: 110%;
          text-decoration: none;
          color: #ffffff;  
        }

        #gameoffers {
          background: url("/images/gameoffers.png") no-repeat center center;
          background-size: 101%;
          text-decoration: none;
          color: #ffffff; 
        }

        #dashboard2 {
          background: url("/images/dashboard2.png") no-repeat center center;
          background-size: 85% 85%;
          text-decoration: none;
          color: #ffffff; 
        }

        #featured {
          background: url("/images/featured.png") no-repeat center center;
          background-size: 85% 85%;
          text-decoration: none;
          color: #ffffff; 
        }

        #gettingpaid{
          background: url("/images/gettingpaid.png") no-repeat center center;
          background-size: 85% 85%;
          text-decoration: none;
          color: #ffffff; 
        }

        #growwithus {
          background: url("/images/growwithus.png") no-repeat center center;
          background-size: 85% 85%;
          text-decoration: none;
          color: #ffffff; 
        }

      }
    }
  }
}

/*
// Navigation bar

// Sign-up button





// Tiles  



// Metro

.metrouicss{
  max-width: 875px;
  margin: 0 auto;
}

.metrouicss p {
  margin: 0px;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
}

.metrouicss .tile.double {
  width: 310px !important;
  height: 150px !important;
}

.metrouicss .tile.half {
  width: 102px !important;
  height: 150px !important;
}

.metrouicss .tile.game-vertical {
  height: 291px;
}

.metrouicss .tile.game-horizontal {
  width: 560px;
}

#video1, #video2 {
  height: 140px;
  width: 147px;
  margin-right: -10px;
  box-shadow: none;
  background-color: @tile-videodashboard;
  text-decoration: none;
  color: #ffffff;
}

#video2, #grow {
  margin-right: 10px;
}

#video3, #grow {
  height: 140px;
  width: 147px;
  margin-right: -10px;
  box-shadow: none;
  background-color: @tile-paidgrowwithus;
  text-decoration: none;
  color: #ffffff;
}

.metrouicss .tile.twotile:hover {
  outline: none;
}





























@media (min-width: 1200px) { 
    .container {
    width: 1280px;
    margin: auto auto;
    }
}

.metrouicss .nav-bar {
  line-height: 25pt;
}

.metrouicss .nav-bar-inner {
  height: 40px;
}

.metrouicss .element.left-menu {
  margin-left: 15% !important;
  height: 30px !important;
}

.metrouicss .page-header {
  padding-top: 10px;
}

.metrouicss .page .page-header .page-header-content {
  min-height: 0px;
  height: 75px;
}

.metrouicss h2 {
  font-family: MyriadPro-reg;
  font-size: 35px;
  font-weight: normal;
  color: #5A5A5A;
}

.first-row {
  display: inline-block;
}

.second-row {
  display: inline-block;
}

.third-row {
  display: block;
}

// Signup
.metrouicss .tile.signup {
  background-image: url('/images/signup.png');
  width: 200px;
  height: 70px;
  background-size: 101%;
  float:right;
}

// First Row
.tile.whatisanytv {
  background-image: url('/images/whatisanytv.png');
  width: 330px;
  height: 125px;
  background-size: 101%;
}

.tile.howdoesitwork {
  background-image: url('/images/howdoesitwork.png');
  width: 330px;
  height: 125px;
  background-size: 101%;
}

.tile.howdoigetpaid {
  background-image: url('/images/howdoigetpaid.png');
  width: 100px;
  height: 125px;
  background-size: 101%;
}

.tile.globe {
  background-image: url('/images/globe.png');
  width: 100px;
  height: 125px;
  background-size: 101%;
}

 // Second Row 
.metrouicss .tile.youtubepartner {
  background-image: url('/images/youtubepartner.png');
  width: 330px;
  height: 125px;
  background-size: 100%;
}

.metrouicss .tile.generatelink {
  background-image: url('/images/generatelink.png');
  width: 330px;
  height: 125px;
  background-size: 100%;
}

.metrouicss .tile.gift {
  background-image: url('/images/gift.png');
  width: 100px;
  height: 125px;
  background-size: 101%;
}

.metrouicss .tile.visitusonyoutube {
  background-image: url('/images/visitusonyoutube.png');
  width: 100px;
  height: 125px;
  background-size: 101%;
}

 // Third Row 
.metrouicss .tile.gameoffers {
  background-image: url('/images/gameoffers.png');
  width: 550px;
  height: 289px;
  background-size: 100%;
}

.metrouicss .tile.videos1 {
  background-image: url('/images/videos1.png');
  width: 330px;
  height: 139px;
  background-size: 100%;
}

.metrouicss .tile.videos2 {
  background-image: url('/images/videos2.png');
  width: 330px;
  height: 139px;
  background-size: 100%;
}

.metrouicss .page .page-region .page-region-content {
  padding-bottom: 5px;
}

.jumbotron {
  padding: 100px;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5;
  color: #ececec;
  background-color: #715bde;
  border-radius: 13px;
}
h1 {
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  color: #d9d9d9;
}
p {
  line-height: 1.4;
}
button {
  background: #eee;
  padding: 10px 20px;
}*/