<template name="topnav">

  <div id="anytv-topnav" class="nav-bar">
    <div class="container nav-bar-inner padding10">

      <a href="/"><span class="element brand">
        <img class="img-anytv-menu" src="/images/anytvmenu.png">
      </span></a>

      <ul class="menu">
        <li>
          <a href="#"><span class="anytv-icon anytv-icon-a"></span>faq</a>
        </li>
        <li>
          <a href="#"><span class="anytv-icon anytv-icon-a"></span>upload</a>
        </li>
        <li>
          <a href="#"><span class="anytv-icon anytv-icon-a"></span>any.TV</a>
        </li>
        <li>
          <a href="#"><span class="anytv-icon anytv-icon-earth"></span>worldwide</a>
        </li>
        <li>
          <a href="#"><span class="anytv-icon anytv-icon-commu"></span>community</a>
        </li>
        <li>
          <a href="#"><span class="anytv-icon anytv-icon-dash"></span>dashboard</a>
        </li>
        <li>  
          <a href="#"><span class="anytv-icon anytv-icon-mmo"></span>mmo</a>
        </li>
      </ul>

    </div>
  </div>

</template>