<template name="navbar">

  <nav id="anytv-navbar" class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="img-anytv-menu" src="/images/anytvmenu.png"></img></a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right menu">
          <li id="icona"><a href="#">faq</a></li>
          <li id="icona"><a href="#">upload</a></li>
          <li id="icona"><a href="#">any.TV</a></li>
          <li id="iconearth"><a href="#">worldwide</a></li>
          <li id="iconcommu"><a href="#">community</a></li>
          <li id="icondash"><a href="#">dashboard</a></li>
          <li id="iconmmo"><a href="#">mmo</a></li>
        </ul>
      </div>
    </div>
  </nav>

</template>