<template name="home">

  <div class="container">

    <div class="row">

      <!-- SIGN UP BUTTON -->
      <div id="signup" class="col-sm-4 col-sm-offset-8">
        <a href="#">
          <span class="signup-click">Click Now</span>
          <span class="signup-free">SIGN UP <b>FREE!</b><span>
        </a>
      </div>

    </div>

    <div class="row">

      <!-- TAG LINE -->
      <div class="col-sm-12">
        <h2 id="tagline">Earn income when your friends play games you recommend!</h2>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-4 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-2 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-2 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-4 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-4 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-2 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-2 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-4 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-4 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-2 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>
      <div class="col-sm-2 tile tile-text">
        <div>
          <p>Sample Text</p>
        </div>
      </div>

    </div>

  </div>



  <div class="metrouicss">
    <div class="nav-bar bg-color-white">
      <div class="nav-bar-inner"> <span class="element left-menu"><a href><img class="img-anytv-menu" src="/images/anytvmenu.png"></img></a></span>
      </div>
    </div>
    <div class="container">
      <div class="page">
        <div class="page-header">
          <div class="page-header-content">
            <div class="tile signup"></div>
          </div>
        </div>
        <div class="page-region">
          <div class="page-region-content">
            <h2>Earn income when your friends play games you recommend!</h2>
          </div>
        </div>
        <div class="first-row">
          <div class="tile whatisanytv"></div>
          <div class="tile howdoesitwork"></div>
          <div class="tile howdoigetpaid"></div>
          <div class="tile globe"></div>
        </div>
        <div class="second-row">
          <div class="tile youtubepartner"></div>
          <div class="tile generatelink"></div>
          <div class="tile gift"></div>
          <div class="tile visitusonyoutube"></div>
        </div>
        <div class="third-row first-column">
          <div class="tile gameoffers"></div>
        </div>
        <div class="third-row second-column">
          <div class="tile videos1"></div>
          <div class="tile videos2"></div>
        </div>
      </div>
    </div>
  </div>
</template>