<template name="home">

  <div id="anytv-content" class="grid">

    <div class="row">

      <!-- SIGN UP BUTTON -->
      <div id="signup" class="span4 offset8">
        <a class="tile vertical-centered-text double outline-color-red" href="#">
          <div>
            <p>
              <span class="signup-click">Click Now</span>
              <span class="signup-free">SIGN UP <b>FREE!</b></span>
            </p>
          </div>
        </a>
      </div>

    </div>

    <div class="row">

      <!-- TAG LINE -->
      <div class="span12">
        <h2 id="tagline">Earn income when your friends play games you recommend!</h2>
      </div>

    </div>

    <div class="row">
      <div id="anytv-start">

        <div class="tile vertical-centered-text double outline-color-blue outline-color-blue">
          <a id="whatisanytv" href="#">
          	<div>
  	        	<p>What is <img src="/images/anytvmenu.png" height="22" width="50"></img> ?</p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text double outline-color-blue">
          <a id="howdoesitwork" href="#">
          	<div>
  	        	<p>How does it work?</p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text outline-color-blue">
          <a id="howdoigetpaid" href="#">
          	<div>
  	        	<p>How do I get paid?</p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text outline-color-blue">
          <a id="globe" href="#">
          	<div>
  	        	<p></p>
          	</div>
          </a>
        </div>

        <div class="tile vertical-centered-text double outline-color-blue">
          <a id="youtubepartner" href="#">
          	<div>
  	        	<p>Can I stay parterned with YouTube?</p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text double outline-color-blue">
          <a id="generatelink" href="#">
          	<div>
  	        	<p>Where can I get links to post my videos</p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text outline-color-blue">
          <a id="gift" href="#">
          	<div>
  	        	<p></p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text outline-color-blue">
          <a id="visitusonyoutube" href="#">
          	<div>
  	        	<p></p>
          	</div>
          </a>
        </div>

        <div class="tile vertical-centered-text quadro double-vertical outline-color-blue">
          <a id="gameoffers" href="#">
          	<div>
  	        	<p></p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text outline-color-blue" id="video1">
          <a href="#">
          	<div id="dashboard2">
  	        	<p></p>
          	</div>
          </a>
        </div>

   	    <div class="tile vertical-centered-text outline-color-blue" id="video2">
          <a href="#">
          	<div id="featured">
  	        	<p></p>
          	</div>
          </a>
        </div>
        <div class="tile vertical-centered-text outline-color-blue" id="video3">
          <a href="#">
          	<div id="gettingpaid">
  	        	<p></p>
          	</div>
          </a>
        </div>
     	  <div class="tile vertical-centered-text outline-color-blue" id="grow">
            <a href="#">
            	<div id="growwithus">
    	        	<p></p>
            	</div>
            </a>
        </div>

      </div>
    </div>

  </div>

</template>