<head>
<title>
Any.TV Dashboard
</title>
</head>
<body>
<div class="metrouicss">
<div class="nav-bar bg-color-white">Any.TV</div>
<div class="container">
	<div class="page">
        <div class="page-header">
            <div class="page-header-content">
				<div class="tile signup"></div>
            </div>
        </div>
	 	<div class="page-region">
	        <div class="page-region-content">
	        	<h2>Earn income when your friends play games you recommend!</h2>
	    	</div>
        </div>
        	<div class="first-row">
			    <div class="tile whatisanytv">
			    </div>
			    <div class="tile howdoesitwork">
			    </div>
			    <div class="tile howdoigetpaid">
			    </div>
			   	<div class="tile globe">
			    </div>
		   	</div>
		   	<div class="second-row">
			    <div class="tile youtubepartner">
			    </div>
			    <div class="tile generatelink">
			    </div>
			    <div class="tile gift">
			    </div>
			   	<div class="tile visitusonyoutube">
			    </div>
		   	</div>
		   	<div class="third-row first-column">
			    <div class="tile gameoffers">
			    </div>
		   	</div>
		   	<div class="third-row second-column">
			    <div class="tile videos1">
			    </div>
			    <div class="tile videos2">
			    </div>
		   	</div>
   	</div>
</div>
</div>
</body>
