<template name="hasoffers">
<table class="striped hovered">
	<thead>
		<tr>Game</tr>
		<tr>Clicks</tr>
		<tr>Conversions</tr>
		<tr>Payout</tr>
	</thead>
	<tbody>
		<tr>Test</tr>
		<tr>Test</tr>
		<tr>Test</tr>
	</tbody>
</table>
</template>
<tenmplate name="youtube">
<table class="striped hovered">
	<thead>
		<tr>Channel Name</tr>
		<tr>Total Views</tr>
		<tr>Subscribers</tr>
		<tr>Video Count</tr>
	</thead>
	<tbody>
		<tr>Test</tr>
		<tr>Test</tr>
		<tr>Test</tr>
		<tr>Test</tr>
	</tbody>
</table>
</tenmplate>