<template name="youtube">

  <div id="anytv-content" class="container">

    <h1>Videos</h1>

    <table class="striped bordered hovered">
      <thead>
        <tr>
          <td>Channel Name</td>
          <td>Total Views</td>
          <td>Subscribers</td>
          <td>Video Count</td>
        </tr>
      </thead>
      <tbody>
        {{#each list}}
          <tr>
            <td>{{title}}</td>
            <td>{{add_commas views}}</td>
            <td>{{add_commas subscribers}}</td>
            <td>{{add_commas videos}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>

</template>